<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Real time chat</title>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/mustache.js"></script>
    <script src="js/libs/deparam.js"></script>
    <script src="js/chat.js"></script>

    <link rel="stylesheet" href="css/style.css" />
</head>
<body class="chat">

    <div class="chat__sidebar">
        <h3 id="room"></h3>
        <div id="users"></div>
    </div>

    <div class="chat__main">
        <ol id="messages" class="chat__messages"></ol>
        <div class="chat__footer">
            <form id="chat-form">
                <input id="message" type="text" placeholder="Write message here .." autofocus autocomplete="off"/>
                <button>Send</button>
                <button id="my-location">Send location</button>
            </form>
        </div>      
    </div>

    <script id="message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{ from }}</h4>
                <span><i>{{ createdAt }}</i></span>
            </div>
            <div class="message__body">
                {{#url}}
                    <a target="_blank" href="{{ url }}">{{ text }}<a>
                {{/url}}
                {{^url}}
                    {{ text }}
                {{/url}}
            </div>
        </li>
    </script>

    <script id="location-template" type="text/template">
        <li>{{ from }} - <i>{{ createdAt }}</i> : <a href="{{ url }}">{{ text }}</a></li>
    </script>

</body>
</html>